<% content_for :head do %>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript" src="javascripts/index-slider.js"></script>	
	
<% end %>


<div id="blog">
<div class="container">
  <div class="row">
	<div class="span12">
		<h1>Find Your Play</h1>
	</div>
  </div>

  <div class="row">
    <div class="span12">

<iframe width="100%" scrolling="no" height="400px" frameborder="0" src="/map/index">
</iframe>
	

	<% i = 1 %>
	<% @venues.each do |venue| %>
	
	<% if (i % 3) == 1 %>
	
	<div class="row post_row">
	
	<% end %>
	
	<% if (i % 3) == 0 %>
	<div class="span4 post last">
	<% else %>	
	<div class="span4 post">
	<% end %>
	
		<div class="img">
			<a href="/venues/<%=venue.id%>">
				<%= image_tag venue.image_url(:thumb).to_s if venue.image_url %>
				
			</a>
		</div>
		<div class="text">
			<h5>
			<a href="/venues/<%=venue.id%>"><%=venue.name%></a>
			</h5>
			<span class="date">Wed, 12 Dec.</span>
			<p> There are many variations of passages of generators on the embarrassing hidden in slightly distracted by these distribution of letters, as opposed.</p>
		</div>
		<div class="author_box">
			<h6>Alejandra Galvan</h6>
			<p>Creative Director</p>
		</div>
		<a class="plus_wrapper" href="blogpost.html">
		<span>+</span>
		</a>
	</div>

	
	<% if (i % 3) == 0 %>
	</div>
	<% end %>
	
	<% i = i + 1 %>

	<% end %>

</div>

</div>
</div>

